header{
    text-align: center;
}

nav{
    display: flex;
    justify-content: space-between;
    border: 1px solid red;
}

nav a{
    text-decoration:none;
    color:black;
    border: 1px solid red;
}

nav a:hover{
    text-decoration: underline;
    font-weight: bold;
}